############ DIRECTORIES ############
# name of the directory to which output is written
outputDirectory=output

# name of the directory in which .POMDP files can be found
domainDirectory=domains


############ GENERAL SETTINGS ############
# the type of algorithm that should be used: gip, perseus
#   gip refers to generalized incremental pruning (exact)
#   perseus is a randomized point-based value iteration algorithm (approximate)
algorithmType=gip

# the algorithm terminates if the absolute value difference in two successive iterations is below the tolerance
valueFunctionTolerance=0.000001

# the algorithm terminates if the running time exceeds the limit (after completion of a stage)
timeLimit=1000


############ EXACT ALGORITHM SETTINGS ############
# LP solvers available: gurobi, joptimizer, lpsolve
lpsolver=lpsolve

# POMDP pruning method: standard, accelerated
pruningMethod=accelerated

# vectors are only added if the value improvement exceeds epsilon
epsilon=0.000001

# the accelerated LP method is only used if the number of vectors in the LP exceeds the threshold
# if you use threshold 0, then it uses default pruning without the accelerated LP
acceleratedLPThreshold=200

# the accelerated LP terminates if the absolute difference in two successive iterations is below the tolerance
acceleratedTolerance=0.0001

# coefficients in LPs are discarded if their absolute value is below the threshold (to prevent numerical stability issues)
coefficientThreshold=0.000000001


############ APPROXIMATE ALGORITHM SETTINGS ############
# the settings below define how many runs the belief sampling executes, and how many steps
beliefSamplingRuns=200
beliefSamplingSteps=100


############ OUTPUT FILES ############
# this property can be used to dump a policy graph after convergence (only when using the exact method)
dumpPolicyGraph=false

# this property can be used to ensure that actions in the output files are labels rather than numbers
dumpActionLabels=false

